@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body
{
	padding-top:70px;
}

#larabsent_table{
	padding-top:20px;
}

.larabsent_error
{
	color:red;
	font-size:12px;
	padding-top:10px;
}